.card-lista-cobranca {
    width: 1020px;
    height: auto;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 16px;
}

.p11 {
    width: 75px;
    margin-left: 45px;
    font-size: 14px;
    font-weight: 700;
    color: #4c4c4c;
    text-align: left;
}

.p12 {
    width: 195px;
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
    text-align: left;
}

.p13 {
    width: 210px;
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
    white-space: wrap;
}

.p14 {
    width: 185px;
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
}

.p15 {
    width: 130px;
    font-size: 14px;
    font-weight: 600;
    color: #4c4c4c;
}

.p16 {
    font-size: 14px;
    font-weight: 400;
    color: #4c4c4c;
}

.pago {    
    color: #4ec06e;
}

.pendente {
    color: #5179b5;
}

.vencida {
    color: #ff4d4d
}

abbr {
    text-decoration: none;    
}

.icone-editar-cobranca {
    cursor: pointer;
    margin-right: 45px;
    margin-left: auto;
}