.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container .container-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.cabecalho {
    margin-top: 32px;
    margin-right: 54px;
    margin-left: auto;
}

.container-titulo-e-form {
    flex-grow: 1;
}

.container-form-cliente {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 1;
    width: 100%;
}

.titulo-form {
    font-size: 24px;
    font-weight: 400;
    margin-left: 72px;
    margin-top: 0;
}