.card-cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: fit-content;
    border-radius: 16px;
    box-shadow: 0px 0px 5px 5px #00000020;
    background-color: white;
    margin-top: 90px;
}

.topo-card-cliente {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: white;
    background-color: #374952;
    border-radius: 16px 16px 0px 0px;
    width: 100%;
    height: 80px;
}

.topo-card-cliente img {
    margin-right: 16px;
}

.card-cliente .clientes-em-dia {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #4ec06e;
    border: 2px solid #4ec06e;
    border-radius: 8px;
    width: 266px;
    height: 80px;
    margin-top: 40px;
    cursor: pointer;
}

.clientes-em-dia .txt {
    font-size: 14px;
    font-weight: 600;
    margin-left: 16px;
}

.clientes-em-dia .qtd {
    font-size: 36px;
    font-weight: 600;
    margin-right: 24px;
}

.card-cliente .clientes-inadimplentes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ff4d4d;
    border: 2px solid #ff4d4d;
    border-radius: 8px;
    width: 266px;
    height: 80px;
    margin-top: 16px;
    margin-bottom: 56px;
    cursor: pointer;
}

.clientes-inadimplentes .txt {
    font-size: 14px;
    font-weight: 600;
    margin-left: 16px;
}

.clientes-inadimplentes .qtd {
    font-size: 36px;
    font-weight: 600;
    margin-right: 24px;
}