.container-lista-de-cobranca {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.cabecalho-lista-cobranca {
    width: 1020px;
    height: 32px;
    background-color: #9dbbc3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: white;
    font-size: 14px;
}

.cabecalho-lista-cobranca p {
    font-size: 14px;
    font-weight: 600;
}

.p5 {
    margin-left: 46px;
}

.p6 {
    margin-left: 61px;
}

.p7 {
    margin-left: 144px;
}

.p8 {
    margin-left: 142px;
}

.p9 {
    margin-left: 143px;
}

.p10 {
    margin-left: 83px;
    margin-right: auto;
}

.lista-de-cards-cobranca {
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 21px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lista-de-cards-cobranca::-webkit-scrollbar {
    display: none;
}

.container-filtro-cobranca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #374952;
    width: 432px;
    height: 40px;
    border-radius: 8px;
    margin-top: 10px;
    margin-left: auto;
    margin-bottom: 10px;
}

.container-filtro-cobranca input {
    border: none;
    padding-left: 24px;
    width: 308px;
    height: 39px;
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    color: #868686;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.container-filtro-cobranca input:focus {
    outline: none;
}