.container-cabecalho {
    margin-left: auto;
    margin-bottom: auto;
}

.opcao-menu {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.icone-perfil {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%
}

.opcao-menu img {
    margin-right: 8px;
}

.menu-popup-on {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 80px;
    right: 50px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px #00000020;
}

.menu-popup-off {
    display: none;
}

.opcao-menu {    
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}