.container-btn-lista {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
}

.container-btn-filtro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container-btn-add-clientes {
    margin-right: auto; 
}

.btn-add-clientes {
    font-size: 14px;
    font-weight: 600;
    color: #da0175;
    padding: 11px 60px;
    border-radius: 20px;
    border: 1px solid #da0175;
    background-color: #f7f7f7;
    cursor: pointer;
    text-decoration: none;
}

.btn-add-clientes:hover {
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    padding: 11px 60px;
    border-radius: 20px;
    border: 1px solid #da0175;
    background-color: #da0175;
    cursor: pointer;
}

.container-lista-de-clientes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    margin-top: -20px
}

.cabecalho-lista-clientes {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #9dbbc3;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-top: 56px;
    margin-right: auto;
    width: 100%;
}

.cabecalho-lista-clientes p img {
    margin-left: 8px;
    cursor: pointer;
}

.p1 {
    margin-left: 24px;
}

.p2 {
    margin-left: 170px;
}

.p3 {
    margin-left: 72px;
}

.p4 {
    margin-left: 56px;
    margin-right: 233px;
}

.lista-de-cards {
    margin-top: 8px;
    margin-right: auto;
    margin-bottom: auto;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.lista-de-cards::-webkit-scrollbar {
    display: none;
}

.container-filtro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #374952;
    width: 432px;
    height: 40px;
    border-radius: 8px;
}

.container-filtro input {
    border: none;
    padding-left: 24px;
    width: 308px;
    height: 39px;
    border-radius: 8px 0px 0px 8px;
    background-color: #f7f7f7;
    color: #868686;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.container-filtro input:focus {
    outline: none;
}

.botao-pesquisar {
    display: flex;
    align-items: center;
    background-color: #374952;
    border: 1px solid #374952;
    color: white;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    height: 40px;
    cursor: pointer;
}

.botao-pesquisar p {
    margin: 0;
    padding: 0;
    margin-left: 12px;
    margin-right: 23px;
}

.botao-pesquisar img {
    margin-left: 26px;
}