.container-resumo-cobranca {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0px 0px 5px 5px #00000010;
    width: 410px;
    height: 90px;
    margin-left: 28px;
    margin-right: 41px;
    margin-top: 28px;
    margin-bottom: 4px;
}

.container-dados-cobranca-1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 8px;
}

.container-dados-cobranca-1 .id-cobranca {
    font-size: 14px;
    font-weight: 700;
    color: #4c4c4c;
    padding: 0;
    margin-right: 6px;
}

.container-dados-cobranca-1 .descricao-cobranca {
    font-size: 14px;
    font-weight: 400;    
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0;
    margin-right: 55px;
}

.container-dados-cobranca-1 .valor-cobranca {
    font-size: 14px;
    font-weight: 700;
    padding: 0;
}

.container-dados-cobranca-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 12px;
}

.vencimento-cobranca {
    font-size: 12px;
    font-weight: 500;
    color: #4c4c4c;
    margin: 0;
}

.status-cobranca {
    font-size: 16px;
    font-weight: 600;
    color: #4ec06e;
    margin: 0;
}